
{{>head}}
{{> navbar}}
    <div class="row">
        <div class="col">
            <h1>"About" text</h1>
            <p>This text is about the "about" page.</p>
        </div>
        <div class="col">
            <img src="assets/img/MM30_1.jpg" class="img-thumbnail">
        </div>
    </div>

{{> footer}}

